body
{
    color: rgb(205, 0, 68);
      text-align: center;
      font-family: "Arial";
      font-size: 16px;
      margin: 0;
      padding: 0;
}

#cabecera
{
  background: lime;
  box-shadow: 0px 2px 20px 0px;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.rem;
}

#container
{width: 70%;
padding: 1cm;
text-align: left;
border: 11px solid rgb(35, 0, 131);
margin: 10 auto;
}

#container h1
{
  font-size: 24px;

}

#cabecera #tagline
{
  padding: 0 0 0 1cm;
  font-weight: normal;
  font-size: 0.0cm;
  
}
#container
{
width: 70%;
padding: 0;
text-align: left;
border: 1px solid;
margin: 0 auto;

}